*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article{
    width: 80%;
    height: 40%;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .3);
}
.header{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 3vw;
}
.body{
    width: 100%;
    height: 80%;
    font-size: 1.5vw;
    padding: 8px;
}
button{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    outline: none;
    color: white;
    background-color: blue;
}
button:hover{
    background-color: black;
    border: 1px solid blue;
}